---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <lastmod>2026-02-22</lastmod>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>{{ site.url }}/presse/</loc>
    <lastmod>2026-02-22</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ site.url }}/aktuelles/</loc>
    <lastmod>2026-03-12</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
  {% for article in aktuelles %}
  <url>
    <loc>{{ site.url }}/aktuelles/{{ article.slug }}/</loc>
    <lastmod>{{ article.date }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  {% endfor %}
  <url>
    <loc>{{ site.url }}/termine/</loc>
    <lastmod>2026-03-06</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>{{ site.url }}/krisenkommunikation/</loc>
    <lastmod>2026-03-08</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>{{ site.url }}/impressum/</loc>
    <lastmod>2026-02-22</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.3</priority>
  </url>
  <url>
    <loc>{{ site.url }}/datenschutz/</loc>
    <lastmod>2026-02-22</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.3</priority>
  </url>
</urlset>